@model AdventureLandWebapp.Models.ATTRACTION

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ATTRACTION</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AttractionID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AttractionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttractionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttractionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Open_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Open_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Close_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Close_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Last_Maintained)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Last_Maintained)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height_Req_Inches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height_Req_Inches)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age_Req)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age_Req)
        </dd>
    </dl>
</div>
<div>
    <img src="https://i.imgur.com/dEwh8DO.jpg" alt="Sample Photo" />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AttractionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
