@model AdventureLandWebapp.Models.SHOP_INVENTORY_ITEM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SHOP_INVENTORY_ITEM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stocked_On)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stocked_On)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sold_On)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sold_On)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
